<div class='container'>
  <h3><%= @customer.create_name %>さんの会員詳細</h3>
  <table class='table'>
    <tr>
      <th>会員ID</th>
      <th><%= @customer.id %></th>
    </tr>
    <tr>
      <th>氏名</th>
      <th><%= @customer.create_name %></th>
    </tr>
    <tr>
      <th>フリガナ</th>
      <th><%= @customer.create_name_f %></th>
    </tr>
    <tr>
      <th>郵便番号</th>
      <th><%= @customer.post %></th>
    </tr>
    <tr>
      <th>住所</th>
      <th><%= @customer.place %></th>
    </tr>
    <tr>
      <th>電話番号</th>
      <th><%= @customer.phone %></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <th><%= @customer.email %></th>
    </tr>
    <tr>
      <th>会員ステータス</th>
      <th><%= @customer.flag ? '退会' : '有効' %></th>
    </tr>
    <tr>
      <th></th>
      <th><%= link_to '編集する', edit_admin_customer_path(@customer), class: "btn btn-sm btn-success" %></th>
      <th><%= link_to '注文一覧を見る', admin_orders_history_path(@customer), class: "btn btn-sm btn-primary" %></th>
    </tr>
  </table>
</div>