<div class='container'>
  <h3>注文履歴詳細</h3>
   <div class="row">
    <div class="col-2">購入者</div>
    <div class="col-10">
     <%= link_to admin_customer_path(@order) do %>
     <%= @order.customer.create_name %>
     <% end %></div>
   </div>
   <div class="row">
    <div class="col-2">注文日</div>
    <div class="col-10"><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
   </div>
   <div class="row">
    <div class="col-2">配送先</div>
    <div class="col-10"><%= @order.place %></div>
    <div class="col-2"></div>
    <div class="col-10"><%= @order.name %></div>
   </div>
   <div class="row">
    <div class="col-2">支払方法</div>
    <div class="col-10"><%= t("enums.order.pay.#{@order[:pay]}") %></div>
   </div>
   <div>
    <div class="row">
    <div class="col-2">注文ステータス</div>
    <div class="col-10">
     <%= form_with model: [:admin, @order], method: :patch, local: true do |f| %>
     <%= f.select :status, Order.statuses.keys.map { |s| [t("enums.order.status.#{s}"), s] }, {}, class: "select-default" %>
     <%= f.submit "更新", class: 'btn btn-primary' %>
     <% end %>
    </div>
   </div>

   <div class="row">
    <div class="col-8">
       <table class="table">
         <thead>
           <tr>
             <th>商品名</th>
             <th>単価（税込）</th>
             <th>数量</th>
             <th>小計</th>
             <th>製作ステータス</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
          <% @order_items.each do |order_item| %>
           <tr>
             <th><%= order_item.item.item_name %></th>
             <th class="text-center text-md-end"><%= (order_item.money.to_i*1.1).floor.to_s(:delimited) %></th>
             <th><%= order_item.count %></th>
             <th class="text-center text-md-end"><%= ((order_item.money.to_i * 1.1 * order_item.count).floor).to_s(:delimited) %></th>
             <th>
              <%= form_with model:order_item, url:admin_order_item_path(order_item.id), method: :patch do |f| %>
              <%= f.select :status, OrderItem.statuses.keys.map { |s| [t("enums.order_item.status.#{s}"), s] }, {}, class: "select-default" %>
              <%= f.submit "更新", class: 'btn btn-primary' %>
              <% end %>
             </th>
           </tr>
          <% end %>
         </tbody>
       </table>
    </div>
    <div class="row col-3 d-flex justify-content-end d-flex flex-column bd-highlight mb-3">
     <div class="d-flex justify-content-between">
       <div>商品合計</div>
       <div><%= (@order.total_price - @order.postage.to_i).to_s(:delimited) %></div>
     </div>
     <div class="d-flex justify-content-between">
       <div>送料</div>
       <div><%= @order.postage %></div>
     </div>
     <div class="d-flex justify-content-between">
       <div>請求金額合計</div>
       <div><%= @order.total_price.to_s(:delimited) %></div>
     </div>
    </div>
   </div>
</div>