<% if @address.errors.any?%>
<div id="error_explanation">
  <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>
  <ul>
    <% @address.errors.full_messages.each do|messages| %>
    <li><%= message %></li>
     <% end %>
  </ul>
  </div>
  <% end %>

<div class="container">
<%= form_with model: @address,url: address_path(@address.id) ,method: :patch do |f| %>
<div class="from-group row">
   <%= f.label :postal_code,"郵便番号（ハイフンなし）", class: "col-sm-2 col-form-label" %>
   <div class="col-sm-10">
 <%= f.text_field :postal_code, class: "form-control", placeholder: "郵便番号（ハイフンなし）", required: true %>
  </div>
</div>
 <div class="form-group row">
<%= f.label :place,"住所", class: "col-sm-2 col-form-label" %>
  <div class="col-sm-10">
   <%= f.text_area :place, class: "form-control", placeholder: "住所", required: true %>
  </div>
 </div>

   <div class="form-group row">
     <%= f.label :name ,"宛名",class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control", placeholder: "宛名" ,  required: true %>
      </div>
    </div>

  <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <%= f.submit '保存', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>