<%= form_with model: @address,url: address_path(@address.id) ,method: :patch do |f| %>
<h4>郵便番号（ハイフンなし）</h4>
<%= f.text_field :postal_code %>

<h3>住所</h3>
<%= f.text_area :place %>

<h4>宛名</h4>
<%= f.text_field :name %>
<%= f.submit '保存' %>
<% end %>