<div class= "container">
<h4>ショッピングカート</h4>
 <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete,class: "btn btn-danger btn-sm" %>
<table>
   <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
   </tr>
    <% total = 0 %>
    <% if current_customer.cart.present? %>
    <% @cart.each do |cart| %> 
    <tr>
       <td>
         <%= attachment_image_tag(cart.item, :image, size: "60x50", fallback: "cake-1.jpg") %>
         <%= cart.item.name %>
       </td>
      <td><%= (cart.item.price*1.10).to_i %>
          <%= subtotal %> 
      </td>
      <td>
        <%= form_with model: cart_item, url: cart_item_path(cart), local: true, method: :patch do |f| %>
        <%= f.number_field :count, min: 1, max:10, id: "count_cart"%>
         <%= f.submit "変更",class: "btn btn-success" %>
         <% end %>
      </td>
      <td>
        <%= link_to "商品をカートから削除する", cart_item_path(cart.id, cart), method: :delete,class: "btn btn-danger" %>
      </td>
    </tr>
    <% total += subtotal %>
    <% end %>
<% end %>
  <tr>    
    <th>合計金額</th>
    <td><%= total %></td>
  </tr>
  </div>