<h3>支払い方法</h3>

<%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>

  <%= f.radio_button :pay, Order.pays.key(0) %>
  <%= f.label :pay, Order.pays_i18n[:credit_card] %>

  <%= f.radio_button :pay, Order.pays.key(1) %>
<%= f.label :pay, Order.pays_i18n[:transfer]%>


<h3>お届け先</h3>
    <%= f.radio_button :address_number, 0 %>
    <%= f.label :address_number_0, "ご自身の住所" %>
    <%= current_customer.place %>
    <%= current_customer.first_name %>
    <%= current_customer.last_name %>

    <%= f.radio_button :address_number, 1 %>
    <%= f.label :address_number_1, "登録先の住所" %>
    <%= f.collection_select :registered, current_customer.addresses, :id, :place %>

    <%= f.radio_button :address_number, 2 %>
    <%= f.label :address_number_2, "新しいお届け先" %>
    <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
    <%= f.text_field :postal_code %>
    <%= f.label :place, "住所" %>
    <%= f.text_field :place %>
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name %>
    <%= f.submit "確認画面へ進む" %>
  <%end%>