<%= render "public/goods_genres/goods_genre" ,goods_genres: @goods_genres,item: @item %>

<h1>商品一覧</h1>
<% @items.each do |item| goods%>
<p>全<%item.count%>件</p>
<%= image_tag item.get_image %>
  <p>投稿商品画像: <%=image_tag 'cake-1.jpg' %> </p>
  <P>商品名：<%=item.item_name %></P>
  <p>商品値段：￥<%=item.price %></p>
</div>
<% end %>