<%= render "public/goods_genres/goods_genre" ,goods_genres: @goods_genres %>

<h1>商品一覧</h1>
<p>全<%=@items.count%>件</p>
<% @items.each do |item|%>
<p><%= link_to image_tag(item.get_image(200,200)),item_path(item.id) %></p>
  <P>商品名：<%=item.item_name %></P>
  <p>商品値段：￥<%=item.price %></p>
</div>
<% end %>
<%= paginate  @items %>